div.ccm-block-calendar-event-list {
    margin-bottom: 10px;
    clear: both;
    margin-top: 20px;
}

div.ccm-block-calendar-event-list-wrapper {
    margin-bottom: 30px;
    clear: both;
}


div.ccm-block-calendar-event-list-event-date {
    width: 50px;
    height: 53px;
    float: left;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-family: 'Roboto Slab', serif;
}

div.ccm-block-calendar-event-list-event-date span {
    display: block;
    text-align: center;
}

div.ccm-block-calendar-event-list-event-date span:first-child {
    font-weight: bold;
    font-size: 14px;
}

div.ccm-block-calendar-event-list-event-date span:nth-child(2) {
    padding-top: 2px;
    font-weight: bold;
    font-size: 18px;
}

div.ccm-block-calendar-event-list-event {
    padding-bottom: 30px;
    clear: both;
    padding-right: 5px;
}
.ccm-block-calendar-event-list-event:last-child {
    padding-bottom: 10px;
}
.ccm-block-calendar-event-list-event-title a {
    color: #525252;
    font-weight: bold;
    font-size: 16px;
}

.ccm-block-calendar-event-list-event-date-full {
    font-size: 13px;
}

