.lr_box {
    text-align: center;
    margin-bottom: 40px;
}
.lr_image {
    margin: 10px 0;
}
.lr_description {
    font-size: 14px;
    padding: 0px 10px;
}
.lr_buttons {
    margin-top: 10px;
}
a.btn.btn-default.btn-lr {
    color: #fff;
    margin-bottom: 5px;
}