@import "build/bootstrap/bootstrap.min.css";
@import "build/blocks/autonav/templates/bootstrap-dropdown/nav.less";
@import "build/mobile/navigation/slicknav.less";

/* Import our theme variables. */@logo-main-color:rgb(250, 13, 13);@h1-title-color: #6ebb4f;@h2-title-color: #6ebb4f;@h3-title-color: #6ebb4f;@links-hover-color: #0b99c1;@button-cta-color: #fe9917;@search-field-color: #72bb45;@month-day-color: #72bb45;@date-background-color: #b1ccdd;@footer-background-color: rgb(249, 20, 20);body {
}
a {
	color: @links-hover-color;
}
a:hover {
	color: @links-hover-color;
}
h1 {
	font-size: 30px;
}
h1, h2, h3, h4 {
	margin: 0 0 10px;
	font-family: "Roboto Slab", serif;
	font-weight: bold;
}
h1 {
	/* customize_headings */color: @h1-title-color;
}
h2 {
	/* customize_headings */color: @h2-title-color;
}
h3 {
	/* customize_headings */color: @h3-title-color;
}
#logo a {
	color: @logo-main-color;
}
.btn-default,
.btn-default:hover,
.header_cta {
    background-color: @button-cta-color;
}

.sb-icon-search,
.sb-search-open .sb-icon-search {
	color: @search-field-color !important;
}

.ccm-block-calendar-event-list-event-date,
.ccm-block-calendar-event-list-event-date span:first-child {
	border-color: @date-background-color;
}
.ccm-block-calendar-event-list-event-date span:first-child {
	background-color: @date-background-color;
}
.ccm-block-calendar-event-list-event-date {
	color: @month-day-color;
}
#footer {
    background-color: @footer-background-color;
}