body {
	font-family: 'Arial', sans-serif;
}
h3 {
    font-size: 20px;
}
img {
	max-width: 100%;
	height: auto;
}
#header p {
    margin: 0;
}
#logo {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 32px;
}
#logo a:hover {
    text-decoration: none;
}
#main-navigation, .top-header {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #666666;
}
#main-navigation{
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;    
}
#menu {
    float: none;
    text-align: center;
    font-size: 16px;
}
#menu > li {
    float: none;
    display: inline-block;
}
#menu > li > a {
    color: #666666;
    padding: 15px 20px;
}
.header_address {
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}
.top-header a {
    color: #666666;
}
.header_cta img {
    background-color: #fe9a18;
}
#main-content {
    padding: 50px 0 60px;
}
#hero {
    position: relative;
}
.slide-bg {
    position: absolute;
    z-index: 5;
    width: 100%;
}
.bottom-curve {
    bottom: 0;
}
#page-content .container .container,
.container .container {
	width: 100%;
}

.header_cta {
    text-align: center;
    line-height: 1;
    font-size: 18px;
}
.header_cta a {
    color: #fff;
}
/*SEARCH FIELD in HEADER*/
.sb-search {
    margin-top: 5px;
    height: 30px;
}
.sb-search-input {
    height: 30px;
}
.sb-icon-search {
    background-color: #fff;
    height: 40px;
}
.sb-search-open .sb-icon-search {
    background: transparent !important;
}
.sb-search.sb-search-open {
    width: 120%;
}
.sb-icon-search {
    top: -5px;
}
/*END SEARCH FIELD in HEADER*/

.widget-featured-events h2 {
    font-size: 18px;
}
.ccm-block-calendar-event-list-link {
    text-align: right;
}


#page-content {
    padding: 40px 0;
}
.btn-default {
    border: 0;
    padding: 8px 15px;
}
.btn-default:hover {
    opacity: 0.9;
}
.btn-default > a {
    color: #fff;
}
.btn-default > a:hover {
    text-decoration: none;
}
#home-2 > .container > .row {
    margin: 0 -5px;
}
#home-2 > .container > .row > div[class*='col-'] {
    padding: 0 5px;
}
#home-2 > .container > .row > div[class*='col-'] > .row >.home-2-hero--stack > div[class*='col-'] {
    margin-bottom: 10px;
}
#home-2 > .container > .row > div[class*='col-'] > .row >.home-2-hero--stack > div[class*='col-']:last-child {
    margin-bottom: 0;
}
#footer {
    padding: 30px 0;
}
.fcol, .fcol a {
    color: #fff;
}
.fcol h5, .fcol h3 {
    font-size: 16px;
    margin: 0 0 5px;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    color: #fff;
}
.footer-bottom {
    text-align: center;
    color: #fff;
    padding: 40px 0 20px;
    font-size: 14px;
}
.footer-bottom p {
   margin-bottom: 5px;
}
.footer-bottom a {
    color: #fff;
}
.fcol .ccm-block-social-links {
    font-size: 20px;
    text-align: right;
} 
@media (min-width: 768px) {
    #logo {
        min-height: 100px;
    }
    .top-header {
        display: block;
        float: right;
    }
    .header_address,
    .header_cta {
        display: block;
        float: left;
    }
    .header_address p {
        width: 180px;
        margin: 0 10px !important;
        text-align: right;
    }
    .header_cta {
        width: 154px;
        height: 102px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('images/catalog_search-btn-blank.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
    .header_cta p {
        position: relative;
        top: -15px;
        padding: 0 15px;
    }
    #main-content > .container > .row,
    #page-content > .container > .row.reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .sideline {
        border-left: 1px solid #dedede;
    }
    .sideline-right {
        border-right: 1px solid #dedede;
    }
    #home-2 > .container {
        padding: 0 5px;
    }

}
@media (max-width: 1199px) {
    #home-2 > .container > .row > div[class*='col-'] > .row >.home-2-hero--stack > div[class*='col-'] {
        margin-bottom: 14px;
    }
}
@media (max-width: 991px) {
    .home-2-hero--stack {
        overflow: hidden;
        margin-top: 10px;
    }
    #home-2 > .container > .row > div[class*='col-'] > .row {
        margin: 0 -5px;
    }
    #home-2 > .container > .row > div[class*='col-'] > .row >.home-2-hero--stack > div[class*='col-'] {
        padding: 0 5px;
    }
}
@media (max-width: 767px) {

    #main-navigation {
        display: none;
    }
    #logo img {
        margin: 0 auto;
    }
    .top-header {
        text-align: center;
    }
    .header_cta {
        display: inline-block;
        padding: 8px 20px;
        margin: 10px 0;
        border-radius: 5px;
    }
    .sb-search {
        float: none;
        margin: 10px auto 0;
    }
    .sb-search.sb-search-open {
        max-width: 300px;
        width: 100%;
    }
    .home-2-hero--stack img {
        margin: 0 auto;
    }
}
@media (max-width: 639px) {
    #home-2 > .container > .row > div[class*='col-'] > .row >.home-2-hero--stack > div[class*='col-xs'] {
        width: 100%;
        text-align: center;
    }
}
/*=====================BAck to top Styles================================*/

#elevator_item {
width: 40px;
position: fixed;
right: 15px;
bottom: 10px;
-webkit-transition: opacity .4s ease-in-out;
-moz-transition: opacity .4s ease-in-out;
-o-transition: opacity .4s ease-in-out;
opacity: 1;
z-index: 100020;
display: none;
}
#elevator_item.off {
opacity: 0;
visibility: hidden
}
#elevator {
display: block;
width: 40px;
height: 40px;
background: url(images/double-arrow-up-white.png) center center no-repeat;
background-size: 15px 15px;
background-color: #000000;
box-shadow: 0 1px 3px rgba(0,0,0,.2);
cursor: pointer;
}
#elevator:hover {
}
#elevator:active {
}
#mobile-nav {
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}

    
.slicknav_menu {
    background: #fff;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 5px 0;
}
.slicknav_btn {
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 0;
    background-color: transparent;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #737373;
    width: 28px;
    box-shadow: none;
    margin-bottom: 4px;
    height: 3px;
}
.slicknav_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.slicknav_nav > li > a {
    color: #666;
}
.slicknav_nav ul {
    border-top: 1px solid #ccc;
}
.pixo-form-wrapper .ccmFormBlock-captcha {
    position: relative;
    clear: both;
}

.box-group {
    margin: 30px 0 15px;
    overflow: hidden;
}
.box-content {
    border-radius: 8px;
    margin-bottom: 30px;
}
.box-links {
    display: block;
    height: 0;
    padding-bottom: 82%;
    font-size: 24px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    line-height: 1.1;
    position: relative;
    text-transform: lowercase;
    font-family: 'Roboto Slab', serif;
}
.box-links, .box-links:active, .box-links:focus, .box-links:hover {
    color: #FFF;
}
.box-links .text {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.fa-icon {
    display: inline-block;
    min-width: 1.16em;
    text-align: center;
}
.box-links .fa-icon {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    opacity: 0.25;
    filter: alpha(opacity=25);
    font-size: 40px;
}
@media (min-width: 440px) {
	.box-links .text {
	    bottom: 12px;
	    padding-left: 14px;
	    padding-right: 14px;
	}
    .box-links .fa-icon {
        font-size: 56px;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}
@media (min-width: 550px) {
	.box-links {
	    font-size: 30px;
	}
    .box-links .fa-icon {
        font-size: 96px;
    }
}
@media (min-width: 768px) {
	.box-links .text {
	    width: 86%;
	    bottom: 15px;
	    padding-left: 18px;
	    padding-right: 18px;
	}
    .box-links .fa-icon {
        font-size: 72px;
    }
    .box-links:hover .fa-icon {
        font-size: 84px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
