@logo-main-color:#6ebb4f;

@h1-title-color: #6ebb4f;
@h2-title-color: #6ebb4f;
@h3-title-color: #6ebb4f;


@links-hover-color: #0b99c1;

@button-cta-color: #fe9917;

@search-field-color: #72bb45;

@month-day-color: #387ea8;
@date-background-color: #b1ccdd;

@footer-background-color: #387ea8;




