/*HOME SLIDER CUSTOM BLOCK*/
/*! http://responsiveslides.com v1.54 by @viljamis */
#hero .rslides_nav,
#hero .rslides_tabs {
    display: none;
}
#hero .ccm-image-slider {
    position: relative;
    padding: 30px 0;
}
#hero .ccm-image-slider-text {
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
}

#hero .ccm-image-slider-title {
    margin-top:auto;
}	

#hero .ccm-image-slider-container a.mega-link-overlay {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    left: 0px;
}
#hero .ccm-image-slider-inner {
    max-height: 650px;
    overflow: hidden;
}
#hero .rslides {
    margin: 0 auto;
}
#hero .rslides_tabs li a {
    background: #333;
    width: 35px;
    height: 5px;
    border-radius: 0;
}
#hero .rslides_tabs li.rslides_here a {
    background: #ec1f24;
}
#hero .rslides .ccm-image-slider-text {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.76);
}
#hero .rslides .ccm-image-slider-text h2 {
    line-height: 1.25;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.54);
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}
#hero ul.rslides_tabs.rslides1_tabs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 10;
    text-align: center;
}
#hero .btn-red  {
    margin-top: 30px;
}
.btn.btn-slide {
    background-color: #259acf;
    margin-top: 20px;
    color: #ffff;
    text-shadow: none;
    padding: 8px 35px ;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #ffffff;
    border-radius: 6px;
}
.btn.btn-slide:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
.btn.btn-slide:visited {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
#hero .rslides > li {
    display: flex !important;
    align-items: center;
    justify-content: center;
    max-height: 650px;
}    
@media (min-width: 768px) {
    #hero .rslides .ccm-image-slider-text h2 {
        /*width: 81%;*/
        margin: 0 auto 15px;
    }
    #hero .rslides .ccm-image-slider-text p {
        margin: 0 auto;
        line-height: 1.15;
    }
}
@media (min-width: 992px) {
    #hero .rslides > li {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }    
    #hero .rslides .ccm-image-slider-text h2 {
        /*width: 88%;*/
        margin: 0 auto 15px;
        font-size: 38px;
    }
    #hero .rslides .ccm-image-slider-text p {
        /*width: 80%;*/
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    #hero .rslides .ccm-image-slider-text h2 {
        font-size: 46px;
        /*width: 80%;*/
        margin: 0 auto 15px;
    }
    #hero .rslides .ccm-image-slider-text p {
        /*width: 60%;*/
        margin: 0 auto;
    }
}
@media (max-width: 991px) {
    #hero .rslides .ccm-image-slider-text h2 {
        font-size: 1.65em;
        margin-top: 0;
        margin-bottom: 5px;
    }
}
@media (max-width: 767px) {
    #hero .ccm-image-slider {
        padding: 15px 0;
    }
    #hero .rslides .ccm-image-slider-text {
        width: 90%;
        font-size: 14px;
    }
    #hero .rslides .ccm-image-slider-text h2 {
        font-size: 1.75em;
        line-height: 1;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .rslides_tabs li a {
        width: 30px;
        margin-right: 5px;
    }
    .btn.btn-slide {
        margin-top: 0px;
        font-size: 14px;
    }
}
@media (max-width:569px) {
    #hero .rslides .ccm-image-slider-text {
        font-size: 14px;
        line-height: 1;
    }
    #hero .rslides .ccm-image-slider-text .container {
        padding: 0;
    }
    #hero .rslides .ccm-image-slider-text h2 {
        font-size: 18px;
        margin: 0 0 5px;
    }
    #hero ul.rslides_tabs.rslides1_tabs {
        bottom: -10px;
    }
    .btn.btn-slide {
        margin-top: 0;
        padding: 5px 10px;
        font-size: 12px;
        border-radius:3px;
    }
}

@media (max-width:379px) {
    #hero .rslides .ccm-image-slider-text {
        font-size: 12px;
        margin: 0 auto;
    }
    #hero .rslides .ccm-image-slider-text h2 {
        font-size: 16px;
        margin: 0 0 3px;
    }

}